<div class="card" align="left" style="width:250px;border-style:solid; ;border-width: thin;">
	<img class="card-img-top" src=
	<% if current_user.image.present? %>
	 	<%=	current_user.image.image_url.to_s %>
	<% end %> alt="Card image" style="width:100%">
	<div class="card-body">
  		<h4 class="card-title"><%= current_user.first_name %></h4>
  		<p class="card-text"><%= current_user.first_name %> is an architect and engineer</p>
	</div>
</div> <br>	
  

  