
.container{
	height:150px;
	background:#fcfdff;
	font: italic small-caps bold 18px Georgia, sans-serif;
}
.button {
	box-sizing: border-box;
    background: rgba(153,50,204,.95);
    color: whitesmoke;
    font: inherit;
    border: 1px solid transparent;
    text-align: left;
    position: relative;
    padding: .5rem 3rem .5rem .5rem;
    overflow: hidden;
    border-radius: 3px;
} 
.button_destroy{
	background-color: #ff4d4d; 
	height: 40px;
	width: 70px;
}

.list{
	background-color: #d0d3db;
	padding-left:  200px;
	padding-right: 200px;  
}
.first_name{
	color: #00bfff;
	font-size: 200%;
	padding-top: 5px;
	padding-left: 5px;
}

.profile_pic{
    height: 50px;
    width: 50px;
}
.booking_slot{
    position: absolute;
    left: 320px;
    padding: 10px;
    width: 300px;
}

.new_apppointment{
    color: black;
}
.center_div{
    padding-left: 310px;
    padding-right: 230px;
}
.appointment_div{
    padding-left:50px;
}

.error_span{
    color: red;
}
.div_spaceing{
    padding-left: 5px;
}
.discription_area{
    border: solid thin;
    width: 800px;
    padding-top: 10px;
    word-wrap: break-word;
}
.note_owner{
    color: rgb(40,20,0);
}
.images{
    display: inline-block;
    height:200px;
    width: 200px;
}
.profile_label{
    font-size: 20px;
}
.hello_text{
    width: 300px;
    float: left;
}
.signout_link{
    width: 100px;
    float: right;
}
.flash_messages{
    color: green;
    font-size: 36px ;
}
.heading{
    margin: 1em 0 0.5em 0;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    position: relative;  
    font-size: 36px;
    line-height: 40px;
    padding: 15px 15px 15px 0%;
    color: #355681;
    box-shadow: 
        inset 0 0 0 1px rgba(53,86,129, 0.4), 
        inset 0 0 5px rgba(53,86,129, 0.5),
        inset -285px 0 35px white;
    border-radius: 0 10px 0 10px;
}