.container{
	height:150px;
	background:#fcfdff;
	font: italic small-caps bold 18px Georgia, sans-serif;
}

.heading{
    margin: 1em 0 0.5em 0;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    position: relative;  
    font-size: 36px;
    line-height: 40px;
    padding: 15px 15px 15px 0%;
    color: #355681;
    box-shadow: 
        inset 0 0 0 1px rgba(53,86,129, 0.4), 
        inset 0 0 5px rgba(53,86,129, 0.5),
        inset -285px 0 35px white;
    border-radius: 0 10px 0 10px;
}

.center_div_form{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    width: 700px;
    border-width: thin;
    border-style: solid;
    border-radius: 15px;
}

.booking_slot{
    position: absolute;
    left: 320px;
    padding: 10px;
    width: 300px;
}

.list{
	background-color: #d0d3db;
	padding-left:  200px;
	padding-right: 200px;  
}

.error_span{
    color: red;
}

.new_apppointment{
    color: black;
}

.profile_pic{
    height: 50px;
    width: 50px;
}

.center_div{
    padding-left: 310px;
    padding-right: 230px;
}

.appointment_div{
    padding-left:50px;
}


.div_spaceing{
    padding-left: 8px;
}

.login_fields{
    width: 310px;
}

.signout_link{
    width: 100px;
    float: right;
}

.flash_messages{
    color: rgb(12,12,75);
    font-size: 36px ;
}

.images{
    display: inline-block;
    height:200px;
    width: 200px;
}



