 
 <% if @appointment.errors.any? %>
	   
	      <h2>
	        <%= pluralize(@appointment.errors.count, "error") %> prohibited
	        this article from being saved:
	      </h2>
	  
	        <% @appointment.errors.full_messages.each do |msg| %>
	        <% puts @appointment.errors.inspect %>
	        	<%= msg %><br>
	        <% end %>
 <% end %>